*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background: linear-gradient(135deg, #8bc6ec 0%, #9599e2 100%);
}

.card {
  margin: 0 10px;
  padding: 20px;
  background-color: #3251c1;
  border-radius: 14px;
  width: 420px;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
}

.search__input {
  border: none;
  outline: none;
  padding: 6px;
  margin-right: 6px;
  min-height: 30px;
  border-radius: 10px;
  width: 70%;
}

.search__button {
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  min-height: 30px;
  border-radius: 10px;
  padding: 6px 12px;
  background-color: #808080;
}

.search__button--icon {
  display: block;
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.weather {
  display: flex;
  color: #fff;
  gap: 14px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading::after {
  visibility: visible;
  content: "Loading...";
  color: #fff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.weather__title {
  font-size: 18px;
  text-align: center;
}

.weather__location {
  font-size: 18px;
}

.weather__icon {
  width: 60px;
  height: 60px;
}

.weather__error-text {
  font-size: 18px;
  color: #ff0000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
